/* Progress Bar*/
.title-header {
    text-align: center;
    color: orange;
    margin-bottom: 30px;
    }
    
    .progress-bar-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .progress-bar-icons i {
    font-size: 24px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    }
    
    .progress-bar-icons .fa-map-marker,
    .progress-bar-icons .fa-money {
    background-color: orange;
    }
    
    .progress-bar-icons .fa-user,
    .progress-bar-icons .fa-credit-card {
    background-color: grey;
    }
    
    .progress {
    background-color: #fff;
    border: 2px solid orange;
    border-radius: 10px;
    margin-bottom: 20px;
    }
    
    .progress-bar {
    background-color: orange !important;
    width: 50%;
    border-radius: 10px;
    }

    .scrollable-form-container {
        border: 2px solid orange;
        border-radius: 10px;
        max-height: 400px; /* Ajusta la altura máxima según sea necesario */
        overflow-y: auto; /* Habilita el desplazamiento vertical cuando el contenido excede la altura máxima */
        padding: 20px; /* Añade espacio interior para separar los campos del borde */
    }

    .orange {
        background-color: orange;
    }

    .border-danger {
        border: 1px solid red;
    }